<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.ComplaintsMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Complaints">
    <id column="comid" jdbcType="INTEGER" property="comid" />
    <result column="comtype" jdbcType="VARCHAR" property="comtype" />
    <result column="comcusid" jdbcType="VARCHAR" property="comcusid" />
    <result column="comtitle" jdbcType="VARCHAR" property="comtitle" />
    <result column="comtime" jdbcType="TIMESTAMP" property="comtime" />
    <result column="comlevel" jdbcType="VARCHAR" property="comlevel" />
    <result column="comsysuser" jdbcType="VARCHAR" property="comsysuser" />
    <result column="comcontent" jdbcType="VARCHAR" property="comcontent" />
    <result column="comexpect" jdbcType="VARCHAR" property="comexpect" />
    <result column="comdescr" jdbcType="VARCHAR" property="comdescr" />
    <result column="comdisposetype" jdbcType="VARCHAR" property="comdisposetype" />
    <result column="comdisposesysuser" jdbcType="VARCHAR" property="comdisposesysuser" />
    <result column="comdisposemethod" jdbcType="VARCHAR" property="comdisposemethod" />
  </resultMap>
  
   <resultMap id="SelectBaseResultMap" type="com.ht.entity.Complaints">
    <id column="comid" jdbcType="INTEGER" property="comid" />
    <result column="comtype" jdbcType="VARCHAR" property="comtype" />
    <result column="comcusid" jdbcType="VARCHAR" property="comcusid" />
    <result column="comtitle" jdbcType="VARCHAR" property="comtitle" />
    <result column="comtime" jdbcType="TIMESTAMP" property="comtime" />
    <result column="comlevel" jdbcType="VARCHAR" property="comlevel" />
    <result column="comsysuser" jdbcType="VARCHAR" property="comsysuser" />
    <result column="comcontent" jdbcType="VARCHAR" property="comcontent" />
    <result column="comexpect" jdbcType="VARCHAR" property="comexpect" />
    <result column="comdescr" jdbcType="VARCHAR" property="comdescr" />
    <result column="comdisposetype" jdbcType="VARCHAR" property="comdisposetype" />
    <result column="comdisposesysuser" jdbcType="VARCHAR" property="comdisposesysuser" />
    <result column="comdisposemethod" jdbcType="VARCHAR" property="comdisposemethod" />
    
    <association property="customer" javaType="com.ht.entity.Customer">
	    <result column="ckhno" property="ckhno" />
    	<result column="cname" property="cname" />
	</association>
	
	<association property="sysuser" javaType="com.ht.entity.sysuser">
	    <result column="ujobnumber" property="ujobnumber" />
		<result column="USERNAME" property="username" />
	</association>
  </resultMap>
  <sql id="Base_Column_List">
    comid, comtype, comcusid, comtitle, comtime, comlevel, comsysuser, comcontent, 
    comexpect, comdescr,comdisposetype,comdisposesysuser,comdisposemethod
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from complaints
    where comid = #{comid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from complaints
    where comid = #{comid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.entity.Complaints">
    insert into complaints (comid, comtype, 
      comcusid, comtitle, comtime, 
      comlevel, comsysuser, comcontent, 
      comexpect, comdescr)
    values (#{comid,jdbcType=INTEGER}, #{comtype,jdbcType=VARCHAR}, 
      #{comcusid,jdbcType=VARCHAR}, #{comtitle,jdbcType=VARCHAR}, #{comtime,jdbcType=TIMESTAMP}, 
      #{comlevel,jdbcType=VARCHAR}, #{comsysuser,jdbcType=VARCHAR}, #{comcontent,jdbcType=VARCHAR}, 
      #{comexpect,jdbcType=VARCHAR}, #{comdescr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.entity.Complaints">
    insert into complaints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comid != null">
        comid,
      </if>
      <if test="comtype != null">
        comtype,
      </if>
      <if test="comcusid != null">
        comcusid,
      </if>
      <if test="comtitle != null">
        comtitle,
      </if>
      <if test="comtime != null">
        comtime,
      </if>
      <if test="comlevel != null">
        comlevel,
      </if>
      <if test="comsysuser != null">
        comsysuser,
      </if>
      <if test="comcontent != null">
        comcontent,
      </if>
      <if test="comexpect != null">
        comexpect,
      </if>
      <if test="comdescr != null">
        comdescr,
      </if>
       <if test="comdisposetype != null">
        comdisposetype,
      </if>
       <if test="comdisposesysuser != null">
        comdisposesysuser,
      </if>
       <if test="comdisposemethod != null">
        comdisposemethod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comid != null">
        #{comid,jdbcType=INTEGER},
      </if>
      <if test="comtype != null">
        #{comtype,jdbcType=VARCHAR},
      </if>
      <if test="comcusid != null">
        #{comcusid,jdbcType=VARCHAR},
      </if>
      <if test="comtitle != null">
        #{comtitle,jdbcType=VARCHAR},
      </if>
      <if test="comtime != null">
        #{comtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comlevel != null">
        #{comlevel,jdbcType=VARCHAR},
      </if>
      <if test="comsysuser != null">
        #{comsysuser,jdbcType=VARCHAR},
      </if>
      <if test="comcontent != null">
        #{comcontent,jdbcType=VARCHAR},
      </if>
      <if test="comexpect != null">
        #{comexpect,jdbcType=VARCHAR},
      </if>
      <if test="comdescr != null">
        #{comdescr,jdbcType=VARCHAR},
      </if>
      <if test="comdisposetype != null">
        #{comdisposetype,jdbcType=VARCHAR},
      </if>
      <if test="comdisposesysuser != null">
        #{comdisposesysuser,jdbcType=VARCHAR},
      </if>
      <if test="comdisposemethod != null">
        #{comdisposemethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.entity.Complaints">
    update complaints
    <set>
      <if test="comtype != null">
        comtype = #{comtype,jdbcType=VARCHAR},
      </if>
      <if test="comcusid != null">
        comcusid = #{comcusid,jdbcType=VARCHAR},
      </if>
      <if test="comtitle != null">
        comtitle = #{comtitle,jdbcType=VARCHAR},
      </if>
      <if test="comtime != null">
        comtime = #{comtime,jdbcType=TIMESTAMP},
      </if>
      <if test="comlevel != null">
        comlevel = #{comlevel,jdbcType=VARCHAR},
      </if>
      <if test="comsysuser != null">
        comsysuser = #{comsysuser,jdbcType=VARCHAR},
      </if>
      <if test="comcontent != null">
        comcontent = #{comcontent,jdbcType=VARCHAR},
      </if>
      <if test="comexpect != null">
        comexpect = #{comexpect,jdbcType=VARCHAR},
      </if>
      <if test="comdescr != null">
        comdescr = #{comdescr,jdbcType=VARCHAR},
      </if>
      <if test="comdisposetype!=null">
			 comdisposetype = #{comdisposetype,jdbcType=VARCHAR},
		</if>
		<if test="comdisposesysuser!=null">
			 comdisposesysuser = #{comdisposesysuser,jdbcType=VARCHAR},
		</if>
		<if test="comdisposemethod!=null">
			 comdisposemethod = #{comdisposemethod,jdbcType=VARCHAR},
		</if>
    </set>
    where comid = #{comid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.entity.Complaints">
    update complaints
    set
      comtype = #{comtype,jdbcType=VARCHAR},
      comcusid = #{comcusid,jdbcType=VARCHAR},
      comtitle = #{comtitle,jdbcType=VARCHAR},
      comtime = #{comtime,jdbcType=TIMESTAMP},
      comlevel = #{comlevel,jdbcType=VARCHAR},
      comsysuser = #{comsysuser,jdbcType=VARCHAR},
      comcontent = #{comcontent,jdbcType=VARCHAR},
      comexpect = #{comexpect,jdbcType=VARCHAR},
      comdescr = #{comdescr,jdbcType=VARCHAR}
    where comid = #{comid,jdbcType=INTEGER}
  </update>
  
  
  <select id="select" parameterType="java.util.Map" resultMap="SelectBaseResultMap">
    select com.comid, com.comtype, com.comcusid, com.comtitle, com.comtime, com.comlevel, com.comsysuser, com.comcontent, 
    com.comexpect, com.comdescr,com.comdisposetype,com.comdisposesysuser,com.comdisposemethod, cus.ckhno, cus.cname, sys.ujobnumber, sys.username
   	 from complaints com,customer cus,sysuser sys
    <where>
    	com.comcusid=cus.cemail and com.comsysuser=sys.ujobnumber
    	<if test="comsysuser!=null and comsysuser!='' ">
			and com.comsysuser like #{comsysuser}
		</if>
		<if test="comtype!=null and comtype!='' ">
			and com.comtype like #{comtype}
		</if>
		<if test="comcusid!=null and comcusid!='' ">
			and com.comcusid like #{comcusid}
		</if>
		<if test="comtitle!=null and comtitle!='' ">
			and com.comtitle like #{comtitle}
		</if>
		<if test="comlevel!=null and comlevel!='' ">
			and com.comlevel LIKE #{comlevel}
		</if>
		<if test="comdisposetype!=null and comdisposetype!='' ">
			and com.comdisposetype LIKE #{comdisposetype}
		</if>
		<if test="comdisposesysuser!=null and comdisposesysuser!='' ">
			and com.comdisposesysuser LIKE #{comdisposesysuser}
		</if>
		<if test="comdisposemethod!=null and comdisposemethod!='' ">
			and com.comdisposemethod LIKE #{comdisposemethod}
		</if>
		<if test="comtime!=null and comtime!='' and comtime1!=null and comtime1!=''">
			and com.comtime between #{comtime} and #{comtime1}
		</if>
    </where>
  	 order by com.comid desc
  	 <if test="start!=null and size!=null">
		limit #{start},#{size}
	</if>
  </select>
  
   <!-- 查询投诉条数 -->
   <select id="queryAllCount" parameterType="java.util.Map" resultType="Long">
 	select count(*) from complaints com,customer cus,sysuser sys
		<where>
			com.comcusid=cus.cemail and com.comsysuser=sys.ujobnumber
    	<if test="comsysuser!=null and comsysuser!='' ">
			and com.comsysuser like #{comsysuser}
		</if>
		<if test="comtype!=null and comtype!='' ">
			and com.comtype like #{comtype}
		</if>
		<if test="comcusid!=null and comcusid!='' ">
			and com.comcusid like #{comcusid}
		</if>
		<if test="comtitle!=null and comtitle!='' ">
			and com.comtitle like #{comtitle}
		</if>
		<if test="comlevel!=null and comlevel!='' ">
			and com.comlevel like #{comlevel}
		</if>
		<if test="comdisposetype!=null and comdisposetype!='' ">
			and com.comdisposetype LIKE #{comdisposetype}
		</if>
		<if test="comdisposesysuser!=null and comdisposesysuser!='' ">
			and com.comdisposesysuser LIKE #{comdisposesysuser}
		</if>
		<if test="comdisposemethod!=null and comdisposemethod!='' ">
			and com.comdisposemethod LIKE #{comdisposemethod}
		</if>
		<if test="comtime!=null and comtime!='' and comtime1!=null and comtime1!=''">
			and com.comtime between #{comtime} and #{comtime1}
		</if>
		</where>
 </select>
</mapper>