<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Customer">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="ckhno" jdbcType="VARCHAR" property="ckhno" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="ccompany" jdbcType="VARCHAR" property="ccompany" />
    <result column="cphone" jdbcType="VARCHAR" property="cphone" />
    <result column="cemail" jdbcType="VARCHAR" property="cemail" />
    <result column="cpassword" jdbcType="VARCHAR" property="cpassword" />
    <result column="ccredit" jdbcType="VARCHAR" property="ccredit" />
    <result column="caddress" jdbcType="VARCHAR" property="caddress" />
  </resultMap>
  <sql id="Base_Column_List">
    cid,ckhno, cname, ccompany, cphone, cemail,cpassword, ccredit, caddress
  </sql>
  <select id="klogin1"  resultMap="BaseResultMap" parameterType="Map">
    select * from customer
    where cemail = #{cemail,jdbcType=VARCHAR} and cpassword =#{cpassword,jdbcType=VARCHAR}
  </select>
      <select id="select"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
     <include refid="Base_Column_List" />
     from customer
    where  cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.entity.Customer">
    insert into customer (cid,ckhno, cname, ccompany, 
      cphone, cemail,cpassword, ccredit, 
      caddress)
    values (#{cid,jdbcType=INTEGER},#{ckhno,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{ccompany,jdbcType=VARCHAR}, 
      #{cphone,jdbcType=VARCHAR}, #{cemail,jdbcType=VARCHAR},#{cpassword,jdbcType=VARCHAR}, #{ccredit,jdbcType=VARCHAR}, 
      #{caddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.entity.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="ckhno != null">
        ckhno,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="ccompany != null">
        ccompany,
      </if>
      <if test="cphone != null">
        cphone,
      </if>
      <if test="cemail != null">
        cemail,
      </if>
      <if test="cpassword != null">
        cpassword,
      </if>
      <if test="ccredit != null">
        ccredit,
      </if>
      <if test="caddress != null">
        caddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
       <if test="ckhno != null">
        #{ckhno,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ccompany != null">
        #{ccompany,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="cemail != null">
        #{cemail,jdbcType=VARCHAR},
      </if>
       <if test="cpassword != null">
        #{cpassword,jdbcType=VARCHAR},
      </if>
      <if test="ccredit != null">
        #{ccredit,jdbcType=VARCHAR},
      </if>
      <if test="caddress != null">
        #{caddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.ht.entity.Customer">
    update customer
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
   	  <if test="ckhno != null">
        ckhno = #{ckhno,jdbcType=VARCHAR},
      </if>
      <if test="ccompany != null">
        ccompany = #{ccompany,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="cemail != null">
        cemail = #{cemail,jdbcType=VARCHAR},
      </if>
      <if test="cpassword != null">
        cpassword = #{cpassword,jdbcType=VARCHAR},
      </if>
      <if test="ccredit != null">
        ccredit = #{ccredit,jdbcType=VARCHAR},
      </if>
      <if test="caddress != null">
        caddress = #{caddress,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.ht.entity.Customer">
    update customer
    set cname = #{cname,jdbcType=VARCHAR},
      ccompany = #{ccompany,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR},
      cemail = #{cemail,jdbcType=VARCHAR},
      cpassword = #{cpassword,jdbcType=VARCHAR},
      ccredit = #{ccredit,jdbcType=VARCHAR},
      caddress = #{caddress,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <!-- 条件查询 -->
  <select id="find" parameterType="Map" resultMap="BaseResultMap">
		select * from customer
		<where>
			<if test="ckhno!=null and ckhno!='' ">
				and ckhno like #{ckhno}
			</if>
			<if test="cname!=null and name!='' ">
				and cname like #{cname}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from customer
		<where>
			<if test="ckhno!=null and ckhno!='' ">
				and ckhno like #{ckhno}
			</if>
			<if test="cname!=null and cname!='' ">
				and cname like #{cname}
			</if>
		</where>
	</select>
	<delete id="delete" parameterType="Integer">
		delete from customer where cid=#{cid}
	</delete>
	<insert id="add" parameterType="Customer">
		INSERT INTO customer (cid, ckhno, cname, ccompany,
					 cphone, cemail, cpassword, ccredit, caddress)
						VALUES
					(#{cid},#{ckhno},#{cname},#{ccompany},#{cphone},
					#{cemail},#{cpassword},#{ccredit},#{caddress});
	</insert>
	
</mapper>