<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Goods">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="gcid" jdbcType="INTEGER" property="gcid" />
    <result column="gordernumber" jdbcType="VARCHAR" property="gordernumber" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="gcount" jdbcType="INTEGER" property="gcount" />
    <result column="gunit" jdbcType="VARCHAR" property="gunit" />
    <result column="gweight" jdbcType="REAL" property="gweight" />
    <result column="gvolume" jdbcType="REAL" property="gvolume" />
    <result column="gsize" jdbcType="REAL" property="gsize" />
    <result column="ggrade" jdbcType="INTEGER" property="ggrade" />
    <result column="gdescribe" jdbcType="VARCHAR" property="gdescribe" />
    <result column="gconsignee" jdbcType="VARCHAR" property="gconsignee" />
    <result column="greaddress" jdbcType="VARCHAR" property="greaddress" />
    <result column="grephone" jdbcType="VARCHAR" property="grephone" />
    <result column="gorigin" jdbcType="VARCHAR" property="gorigin" />
    <result column="gendpoint" jdbcType="VARCHAR" property="gendpoint" />
    <result column="gstate" jdbcType="VARCHAR" property="gstate" />
    <result column="gorderstime" jdbcType="TIMESTAMP" property="gorderstime" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, gcid, gordernumber, gname, gcount, gunit, gweight, gvolume, gsize, ggrade, gdescribe, 
    gconsignee, greaddress, grephone, gorigin, gendpoint, gstate, gorderstime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.entity.Goods">
    insert into goods (gid, gcid, gordernumber, 
      gname, gcount, gunit, 
      gweight, gvolume, gsize, ggrade, 
      gdescribe, gconsignee, greaddress, 
      grephone, gorigin, gendpoint, 
      gstate, gorderstime)
    values (#{gid,jdbcType=INTEGER}, #{gcid,jdbcType=INTEGER}, #{gordernumber,jdbcType=VARCHAR}, 
      #{gname,jdbcType=VARCHAR}, #{gcount,jdbcType=INTEGER}, #{gunit,jdbcType=VARCHAR}, 
      #{gweight,jdbcType=REAL}, #{gvolume,jdbcType=REAL}, #{gsize,jdbcType=REAL}, #{ggrade,jdbcType=INTEGER}, 
      #{gdescribe,jdbcType=VARCHAR}, #{gconsignee,jdbcType=VARCHAR}, #{greaddress,jdbcType=VARCHAR}, 
      #{grephone,jdbcType=VARCHAR}, #{gorigin,jdbcType=VARCHAR}, #{gendpoint,jdbcType=VARCHAR}, 
      #{gstate,jdbcType=VARCHAR}, #{gorderstime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="gcid != null">
        gcid,
      </if>
      <if test="gordernumber != null">
        gordernumber,
      </if>
      <if test="gname != null">
        gname,
      </if>
      <if test="gcount != null">
        gcount,
      </if>
      <if test="gunit != null">
        gunit,
      </if>
      <if test="gweight != null">
        gweight,
      </if>
      <if test="gvolume != null">
        gvolume,
      </if>
      <if test="gsize != null">
        gsize,
      </if>
      <if test="ggrade != null">
        ggrade,
      </if>
      <if test="gdescribe != null">
        gdescribe,
      </if>
      <if test="gconsignee != null">
        gconsignee,
      </if>
      <if test="greaddress != null">
        greaddress,
      </if>
      <if test="grephone != null">
        grephone,
      </if>
      <if test="gorigin != null">
        gorigin,
      </if>
      <if test="gendpoint != null">
        gendpoint,
      </if>
      <if test="gstate != null">
        gstate,
      </if>
      <if test="gorderstime != null">
        gorderstime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="gcid != null">
        #{gcid,jdbcType=INTEGER},
      </if>
      <if test="gordernumber != null">
        #{gordernumber,jdbcType=VARCHAR},
      </if>
      <if test="gname != null">
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gcount != null">
        #{gcount,jdbcType=INTEGER},
      </if>
      <if test="gunit != null">
        #{gunit,jdbcType=VARCHAR},
      </if>
      <if test="gweight != null">
        #{gweight,jdbcType=REAL},
      </if>
      <if test="gvolume != null">
        #{gvolume,jdbcType=REAL},
      </if>
      <if test="gsize != null">
        #{gsize,jdbcType=REAL},
      </if>
      <if test="ggrade != null">
        #{ggrade,jdbcType=INTEGER},
      </if>
      <if test="gdescribe != null">
        #{gdescribe,jdbcType=VARCHAR},
      </if>
      <if test="gconsignee != null">
        #{gconsignee,jdbcType=VARCHAR},
      </if>
      <if test="greaddress != null">
        #{greaddress,jdbcType=VARCHAR},
      </if>
      <if test="grephone != null">
        #{grephone,jdbcType=VARCHAR},
      </if>
      <if test="gorigin != null">
        #{gorigin,jdbcType=VARCHAR},
      </if>
      <if test="gendpoint != null">
        #{gendpoint,jdbcType=VARCHAR},
      </if>
      <if test="gstate != null">
        #{gstate,jdbcType=VARCHAR},
      </if>
      <if test="gorderstime != null">
        #{gorderstime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.entity.Goods">
    update goods
    <set>
      <if test="gcid != null">
        gcid = #{gcid,jdbcType=INTEGER},
      </if>
      <if test="gordernumber != null">
        gordernumber = #{gordernumber,jdbcType=VARCHAR},
      </if>
      <if test="gname != null">
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gcount != null">
        gcount = #{gcount,jdbcType=INTEGER},
      </if>
      <if test="gunit != null">
        gunit = #{gunit,jdbcType=VARCHAR},
      </if>
      <if test="gweight != null">
        gweight = #{gweight,jdbcType=REAL},
      </if>
      <if test="gvolume != null">
        gvolume = #{gvolume,jdbcType=REAL},
      </if>
      <if test="gsize != null">
        gsize = #{gsize,jdbcType=REAL},
      </if>
      <if test="ggrade != null">
        ggrade = #{ggrade,jdbcType=INTEGER},
      </if>
      <if test="gdescribe != null">
        gdescribe = #{gdescribe,jdbcType=VARCHAR},
      </if>
      <if test="gconsignee != null">
        gconsignee = #{gconsignee,jdbcType=VARCHAR},
      </if>
      <if test="greaddress != null">
        greaddress = #{greaddress,jdbcType=VARCHAR},
      </if>
      <if test="grephone != null">
        grephone = #{grephone,jdbcType=VARCHAR},
      </if>
      <if test="gorigin != null">
        gorigin = #{gorigin,jdbcType=VARCHAR},
      </if>
      <if test="gendpoint != null">
        gendpoint = #{gendpoint,jdbcType=VARCHAR},
      </if>
      <if test="gstate != null">
        gstate = #{gstate,jdbcType=VARCHAR},
      </if>
      <if test="gorderstime != null">
        gorderstime = #{gorderstime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.entity.Goods">
    update goods
    set gcid = #{gcid,jdbcType=INTEGER},
      gordernumber = #{gordernumber,jdbcType=VARCHAR},
      gname = #{gname,jdbcType=VARCHAR},
      gcount = #{gcount,jdbcType=INTEGER},
      gunit = #{gunit,jdbcType=VARCHAR},
      gweight = #{gweight,jdbcType=REAL},
      gvolume = #{gvolume,jdbcType=REAL},
      gsize = #{gsize,jdbcType=REAL},
      ggrade = #{ggrade,jdbcType=INTEGER},
      gdescribe = #{gdescribe,jdbcType=VARCHAR},
      gconsignee = #{gconsignee,jdbcType=VARCHAR},
      greaddress = #{greaddress,jdbcType=VARCHAR},
      grephone = #{grephone,jdbcType=VARCHAR},
      gorigin = #{gorigin,jdbcType=VARCHAR},
      gendpoint = #{gendpoint,jdbcType=VARCHAR},
      gstate = #{gstate,jdbcType=VARCHAR},
      gorderstime = #{gorderstime,jdbcType=TIMESTAMP}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>