<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.InventoryMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Inventory">
    <id column="loid" jdbcType="INTEGER" property="loid" />
    <result column="logid" jdbcType="INTEGER" property="logid" />
    <result column="loname" jdbcType="VARCHAR" property="loname" />
    <result column="losize" jdbcType="DOUBLE" property="losize" />
    <result column="lovolume" jdbcType="DOUBLE" property="lovolume" />
    <result column="loweight" jdbcType="DOUBLE" property="loweight" />
    <result column="lolevel" jdbcType="INTEGER" property="lolevel" />
    <result column="lostate" jdbcType="INTEGER" property="lostate" />
   	<result column="losizes" jdbcType="DOUBLE" property="losizes" />
    <result column="lovolumes" jdbcType="DOUBLE" property="lovolumes" />
    <result column="loweights" jdbcType="DOUBLE" property="loweights" />
  </resultMap>
  
  <resultMap id="SelectBaseResultMap" type="com.ht.entity.Inventory">
    <id column="loid" jdbcType="INTEGER" property="loid" />
    <result column="logid" jdbcType="INTEGER" property="logid" />
    <result column="loname" jdbcType="VARCHAR" property="loname" />
    <result column="losize" jdbcType="DOUBLE" property="losize" />
    <result column="lovolume" jdbcType="DOUBLE" property="lovolume" />
    <result column="loweight" jdbcType="DOUBLE" property="loweight" />
    <result column="lolevel" jdbcType="INTEGER" property="lolevel" />
    <result column="lostate" jdbcType="INTEGER" property="lostate" />
    <result column="losizes" jdbcType="DOUBLE" property="losizes" />
    <result column="lovolumes" jdbcType="DOUBLE" property="lovolumes" />
    <result column="loweights" jdbcType="DOUBLE" property="loweights" />
    
    <association property="goods" javaType="com.ht.entity.Goods">
	    <result property="gid" column="gid"/>
		<result property="gname" column="gname"/>
		<result property="gweight" column="gweight"/>
		<result property="gordernumber" column="gordernumber"/>
	</association>
  </resultMap>
  
  <sql id="Base_Column_List">
    loid, logid, loname, losize, lovolume, loweight, lolevel, lostate,losizes, lovolumes, loweights
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inventory
    where loid = #{loid,jdbcType=INTEGER}
  </select>
  <delete id="inventorydelete" parameterType="java.lang.Integer">
    delete from inventory
    where loid = #{loid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.entity.Inventory">
    insert into inventory (loid, logid, loname, 
      losize, lovolume, loweight, 
      lolevel, lostate ,losizes, lovolumes, loweights )
    values (#{loid,jdbcType=INTEGER}, #{logid,jdbcType=INTEGER}, #{loname,jdbcType=VARCHAR}, 
      #{losize,jdbcType=DOUBLE}, #{lovolume,jdbcType=DOUBLE}, #{loweight,jdbcType=DOUBLE}, 
      #{lolevel,jdbcType=INTEGER}, #{lostate,jdbcType=INTEGER},#{losize,jdbcType=DOUBLE}, #{lovolume,jdbcType=DOUBLE}, #{loweight,jdbcType=DOUBLE})
  </insert>
  <insert id="inventoryAdd" parameterType="com.ht.entity.Inventory">
    insert into inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loid != null">
        loid,
      </if>
      <if test="logid != null">
        logid,
      </if>
      <if test="loname != null">
        loname,
      </if>
      <if test="losize != null">
        losize,
      </if>
      <if test="lovolume != null">
        lovolume,
      </if>
      <if test="loweight != null">
        loweight,
      </if>
      <if test="lolevel != null">
        lolevel,
      </if>
      <if test="lostate != null">
        lostate,
      </if>
      <if test="losizes != null">
        losizes,
      </if>
      <if test="lovolumes != null">
        lovolumes,
      </if>
      <if test="loweights != null">
        loweights,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loid != null">
        #{loid,jdbcType=INTEGER},
      </if>
      <if test="logid != null">
        #{logid,jdbcType=INTEGER},
      </if>
      <if test="loname != null">
        #{loname,jdbcType=VARCHAR},
      </if>
      <if test="losize != null">
        #{losize,jdbcType=DOUBLE},
      </if>
      <if test="lovolume != null">
        #{lovolume,jdbcType=DOUBLE},
      </if>
      <if test="loweight != null">
        #{loweight,jdbcType=DOUBLE},
      </if>
      <if test="lolevel != null">
        #{lolevel,jdbcType=INTEGER},
      </if>
      <if test="lostate != null">
        #{lostate,jdbcType=INTEGER},
      </if>
      <if test="losizes != null">
        #{losizes,jdbcType=DOUBLE},
      </if>
      <if test="lovolumes != null">
        #{lovolumes,jdbcType=DOUBLE},
      </if>
      <if test="loweights != null">
        #{loweights,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="inventoryupdate" parameterType="com.ht.entity.Inventory">
    update inventory
    <set>
      <if test="logid != null">
        logid = #{logid,jdbcType=INTEGER},
      </if>
      <if test="loname != null">
        loname = #{loname,jdbcType=VARCHAR},
      </if>
      <if test="losize != null">
        losize = #{losize,jdbcType=DOUBLE},
      </if>
      <if test="lovolume != null">
        lovolume = #{lovolume,jdbcType=DOUBLE},
      </if>
      <if test="loweight != null">
        loweight = #{loweight,jdbcType=DOUBLE},
      </if>
      <if test="lolevel != null">
        lolevel = #{lolevel,jdbcType=INTEGER},
      </if>
      <if test="lostate != null">
        lostate = #{lostate,jdbcType=INTEGER},
      </if>
    </set>
    where loid = #{loid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.entity.Inventory">
    update inventory
    set logid = #{logid,jdbcType=INTEGER},
      loname = #{loname,jdbcType=VARCHAR},
      losize = #{losize,jdbcType=DOUBLE},
      lovolume = #{lovolume,jdbcType=DOUBLE},
      loweight = #{loweight,jdbcType=DOUBLE},
      lolevel = #{lolevel,jdbcType=INTEGER},
      lostate = #{lostate,jdbcType=INTEGER}
    where loid = #{loid,jdbcType=INTEGER}
  </update>
   <!-- 查询所有库位列表 -->
  <select id="select" parameterType="java.util.Map" resultMap="SelectBaseResultMap">
    select lo.loid, lo.logid, lo.loname, lo.losize, lo.lovolume, 
  	 lo.loweight,lo.losizes, lo.lovolumes, 
  	 lo.loweights, lo.lolevel, lo.lostate,go.gid,go.gname
    from inventory lo,goods go
    <where>
    		lo.logid=go.gid
    	<if test="gname!=null and gname!='' ">
			and go.gname like #{gname}
		</if>
		<if test="loname!=null and loname!='' ">
			and lo.loname like #{loname}
		</if>
		<if test="lolevel!=null and lolevel!='' ">
			and lo.lolevel like #{lolevel}
		</if>
		<if test="lostate!=null and lostate!='' ">
			and lo.lostate like #{lostate}
		</if>
    </where>
  	 order by lo.loid desc
  	 <if test="start!=null and size!=null">
		limit #{start},#{size}
	</if>
  </select>
  
  <!-- 查询库位条数 -->
 <select id="queryAllCount" parameterType="java.util.Map" resultType="Long">
 	select count(*) from inventory lo,goods go
		<where>
			lo.logid=go.gid
			<if test="gname!=null and gname!='' ">
			and go.gname like #{gname}
		</if>
		<if test="loname!=null and loname!='' ">
			and lo.loname like #{loname}
		</if>
		<if test="lolevel!=null and lolevel!='' ">
			and lo.lolevel like #{lolevel}
		</if>
		<if test="lostate!=null and lostate!='' ">
			and lo.lostate like #{lostate}
		</if>
		</where>
 </select>
 
    <!-- 查询库位货物 -->
  <select id="selectInveGoods" parameterType="java.util.Map" resultMap="SelectBaseResultMap">
    select lo.loid,lo.logid, lo.loname,go.gname,go.gordernumber ,go.gweight
    from inventory lo,goods go
   where
    	lo.logid=go.gid
    	and
    		loid = #{loid,jdbcType=INTEGER}
  </select>
   <!-- 更改货物状1 -->
   <update id="updataInveState1" parameterType="com.ht.entity.Inventory">
    update inventory
    set
      lostate = 1
    where loid = #{loid,jdbcType=INTEGER}
  </update>
  <!-- 更改货物状2 -->
   <update id="updataInveState2" parameterType="com.ht.entity.Inventory">
    update inventory
    set
      lostate = 0
    where loid = #{loid,jdbcType=INTEGER}
  </update>
  
  <select id="selectKwGoods" parameterType="java.util.Map" resultMap="SelectBaseResultMap">
  	select * from inventory 
  	<where>
  		<if test="logid != null">
	        logid = #{logid}
	      </if>
  		 <if test="losize != null">
	        and losize >= #{losize}
	      </if>
	      <if test="lovolume != null">
	        and lovolume >= #{lovolume}
	      </if>
	      <if test="loweight != null">
	        and loweight >= #{loweight}
	      </if>
	      <if test="lolevel != null">
	        and lolevel >= #{lolevel}
	      </if>
	      <if test="lostate != null">
	        and lostate = #{lostate}
	      </if>
  	</where>
  	order by loid desc
  	 <if test="start!=null and size!=null">
		limit #{start},#{size}
	</if>
  </select>
  <select  id="selectKwGoodsCount" parameterType="java.util.Map" resultType="Long">
  	select count(*) from inventory
  	<where>
  		<if test="logid != null">
	        logid = #{logid}
	      </if>
  		 <if test="losize != null">
	        and losize >= #{losize}
	      </if>
	      <if test="lovolume != null">
	        and lovolume >= #{lovolume}
	      </if>
	      <if test="loweight != null">
	        and loweight >= #{loweight}
	      </if>
	      <if test="lolevel != null">
	        and lolevel >= #{lolevel}
	      </if>
	      <if test="lostate != null">
	        and lostate = #{lostate}
	      </if>
  	</where>
  </select>
</mapper>