<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.QualityMapper">
	<resultMap type="com.ht.entity.Quality" id="QualityResultMap">
		<id column="eid" property="eid" jdbcType="INTEGER"/>
		<result column="egid" property="egid" jdbcType="INTEGER"/>
		<result column="erid" property="erid" jdbcType="INTEGER"/>
		<result column="etid" property="etid" jdbcType="INTEGER"/>
		<result column="euserid" property="euserid" jdbcType="INTEGER"/>
		<result column="eresult" property="eresult" jdbcType="VARCHAR"/>
		<result column="edate" property="edate" jdbcType="TIMESTAMP"/>
	</resultMap>
	<resultMap type="com.ht.entity.Quality" id="QualityResultMaps">
		<id column="eid" property="eid" jdbcType="INTEGER"/>
		<result column="egid" property="egid" jdbcType="INTEGER"/>
		<result column="erid" property="erid" jdbcType="INTEGER"/>
		<result column="etid" property="etid" jdbcType="INTEGER"/>
		<result column="euserid" property="euserid" jdbcType="INTEGER"/>
		<result column="eresult" property="eresult" jdbcType="VARCHAR"/>
		<result column="edate" property="edate" jdbcType="TIMESTAMP"/>
		
		<!-- 员工 -->
		<association property="sysusers" javaType="com.ht.entity.sysuser">
			<result property="userid" column="USERID"/>
			<result property="username" column="USERNAME"/>
			<result property="uposition" column="uposition"/>
			<result property="usertruename" column="USERTRUENAME"/>
			<result property="userstate" column="USERSTATE"/>
		</association>
		
		<!-- 货物 -->
		<association property="goods" javaType="com.ht.entity.Goods">
			<result property="gid" column="gid"/>
			<result property="gordernumber" column="gordernumber"/>
			<result property="gname" column="gname"/>
			<result property="gcount" column="gcount"/>
			<result property="ggrade" column="ggrade"/>
			<result property="gdescribe" column="gdescribe"/>
			<result property="gstate" column="gstate"/>
		</association>
		
		<!-- 收货 -->
		<association property="receipt" javaType="com.ht.entity.Receipt">
			<result property="rid" column="rid"/>
			<result property="rreceivecount" column="rreceivecount"/>
			<result property="rdamagedcount" column="rdamagedcount"/>
			<result property="rshelvecount" column="rshelvecount"/>
			<result property="rstart" column="rstart"/>
		</association>
		
		<!-- 出库 -->
		<association property="thelibrary" javaType="com.ht.entity.Thelibrary">
			<result property="tid" column="tid"/>
			<result property="tgid" column="tgid"/>
			<result property="tstate" column="tstate"/>
		</association>
		
	</resultMap>
	
	<sql id="Quality_Column_List">
		eid, erid, etid, egid, euserid, eresult, edate
	</sql>
	
	<!-- 根据id查询质检记录 -->
	<select id="qualitySelect" parameterType="java.lang.Integer" resultMap="QualityResultMaps">
	  select 
	  *
	  from examine exa, sysuser sys, goods go, receipt rec, thelibrary the
	  where exa.eid = #{eid,jdbcType=INTEGER}
	</select>
	
	<!-- 根据id删除质检记录 -->
	<delete id="qualityDelete" parameterType="java.lang.Integer">
	  delete from examine
	  where eid = #{eid,jdbcType=INTEGER}
	</delete>
	
	<!-- 添加质检记录 -->
	<insert id="qualityAdd" parameterType="com.ht.entity.Quality">
    insert into examine
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	<if test="eid != null">
	    		eid,
	    	</if>
	    	<if test="erid != null">
	    		erid,
	    	</if>
	    	<if test="etid != null">
	    		etid,
	    	</if>
	    	<if test="egid != null">
	    		egid,
	    	</if>
	    	<if test="euserid != null">
	    		euserid,
	    	</if>
	    	<if test="eresult != null">
	    		eresult,
	    	</if>
	    	<if test="edate != null">
	    		edate,
	    	</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	    	<if test="eid != null">
	    		#{eid,jdbcType=INTEGER},
	    	</if>
	    	<if test="erid != null">
	    		#{erid,jdbcType=INTEGER},
	    	</if>
	    	<if test="etid != null">
	    		#{etid,jdbcType=INTEGER},
	    	</if>
	    	<if test="egid != null">
	    		#{egid,jdbcType=INTEGER},
	    	</if>
	    	<if test="euserid != null">
	    		#{euserid,jdbcType=INTEGER},
	    	</if>
	    	<if test="eresult != null">
	    		#{eresult,jdbcType=VARCHAR},
	    	</if>
	    	<if test="edate != null">
	    		#{edate,jdbcType=TIMESTAMP},
	    	</if>
	    </trim>
	</insert>
	
	<!-- 根据id修改质检记录 -->
	<update id="qualityUpdate" parameterType="com.ht.entity.Quality">
	    update examine exa
	    <set>
	    	<if test="euserid != null">
	    		exa.euserid = #{euserid,jdbcType=VARCHAR},
	    	</if>
	    	<if test="eresult != null">
	    		exa.eresult = #{eresult,jdbcType=VARCHAR},
	    	</if>
	    	<if test="edate != null">
	    		exa.edate = #{edate,jdbcType=TIMESTAMP},
	    	</if>
	    </set>
	    where exa.eid = #{eid,jdbcType=INTEGER}
	</update>
	
	<!-- 根据id修改质检记录 -->
	<update id="receiptUpdate" parameterType="com.ht.entity.Receipt">
	    update receipt
	    <set>
	    	<if test="rstart != null">
	    		rstart = #{rstart,jdbcType=VARCHAR},
	    	</if>
	    </set>
	    where rid = #{rid,jdbcType=INTEGER}
	</update>
	
	<!-- 查询所有质检记录并分页 -->
	<select id="qualitySelectAll" parameterType="java.util.Map" resultMap="QualityResultMaps">
   		select * from examine exa, sysuser sys, goods go, receipt rec
		<where>
			exa.erid = rec.rid and
			exa.euserid = sys.USERID and 
			exa.egid = go.gid
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="usertruename!=null and usertruename!='' ">
				and sys.USERTRUENAME like #{usertruename}
			</if>
			<if test="rstart!=null and rstart!='' ">
				and rec.rstart like #{rstart}
			</if>
			<if test="edate!=null and edate!='' ">
				and exa.edate like #{edate}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
    </select>
    
    <!-- 查询质检记录条数 -->
 	<select id="getTotal" parameterType="java.util.Map" resultType="Long">
 		select count(*) from examine exa, sysuser sys, goods go, receipt rec
		<where>
			exa.erid = rec.rid and
			exa.euserid = sys.USERID and 
			exa.egid = go.gid
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="USERTRUENAME!=null and USERTRUENAME!='' ">
				and sys.USERTRUENAME like #{usertruename}
			</if>
			<if test="eresult!=null and eresult!='' ">
				and rec.rstart like #{rstart}
			</if>
			<if test="edate!=null and edate!='' ">
				and exa.edate like #{edate}
			</if>
		</where>
 	</select>
 	
 	<!-- 查询出刚最新添加的出库表的数据的id -->
 	<select id="queryByTid" resultType="int">
 		SELECT tid FROM thelibrary ORDER BY tid DESC LIMIT 1
 	</select>
 	
 	<!-- 查询所有质检记录并分页 -->
	<select id="qualitySelectAll2" parameterType="java.util.Map" resultMap="QualityResultMaps">
   		select * from examine exa, sysuser sys, goods go, thelibrary the
		<where>
			exa.etid = the.tid and
			exa.euserid = sys.USERID and 
			exa.egid = go.gid and
			exa.etid > 0
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="USERTRUENAME!=null and USERTRUENAME!='' ">
				and sys.USERTRUENAME like #{usertruename}
			</if>
			<if test="tstate!=null and tstate!='' ">
				and the.tstate like #{tstate}
			</if>
			<if test="edate!=null and edate!='' ">
				and exa.edate like #{edate}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
    </select>
    
    <!-- 查询质检记录条数 -->
 	<select id="getTotal2" parameterType="java.util.Map" resultType="Long">
 		select count(*) from examine exa, sysuser sys, goods go, thelibrary the
		<where>
			exa.etid = the.tid and
			exa.euserid = sys.USERID and 
			exa.egid = go.gid and
			exa.etid > 0
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="USERTRUENAME!=null and USERTRUENAME!='' ">
				and sys.USERTRUENAME like #{usertruename}
			</if>
			<if test="tstate!=null and tstate!='' ">
				and the.tstate like #{tstate}
			</if>
			<if test="edate!=null and edate!='' ">
				and exa.edate like #{edate}
			</if>
		</where>
 	</select>
</mapper>