<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.QualityMapper">
	<resultMap type="com.ht.entity.Quality" id="QualityResultMap">
		<id column="eid" property="eid" jdbcType="INTEGER"/>
		<result column="egid" property="egid" jdbcType="INTEGER"/>
		<result column="euserid" property="euserid" jdbcType="INTEGER"/>
		<result column="eresult" property="eresult" jdbcType="VARCHAR"/>
		<result column="edate" property="edate" jdbcType="TIMESTAMP"/>
	</resultMap>
	<resultMap type="com.ht.entity.Quality" id="QualityResultMaps">
		<id column="eid" property="eid" jdbcType="INTEGER"/>
		<result column="egid" property="egid" jdbcType="INTEGER"/>
		<result column="euserid" property="euserid" jdbcType="INTEGER"/>
		<result column="eresult" property="eresult" jdbcType="VARCHAR"/>
		<result column="edate" property="edate" jdbcType="TIMESTAMP"/>
		
		<!-- 员工 -->
		<association property="sysusers" javaType="com.ht.entity.sysuser">
			<result property="userid" column="USERID"/>
			<result property="username" column="USERNAME"/>
			<result property="uposition" column="uposition"/>
			<result property="usertruename" column="usertruename"/>
			<result property="userstate" column="USERSTATE"/>
		</association>
		
		<!-- 货物 -->
		<association property="goods" javaType="com.ht.entity.Goods">
			<result property="gid" column="gid"/>
			<result property="gordernumber" column="gordernumber"/>
			<result property="gname" column="gname"/>
			<result property="ggrade" column="ggrade"/>
			<result property="gdescribe" column="gdescribe"/>
			<result property="gstate" column="gstate"/>
		</association>
		
		<!-- 收货 -->
		<association property="receipt" javaType="com.ht.entity.Receipt">
			<result property="rid" column="rid"/>
			<result property="sgid" column="sgid"/>
			<result property="rstart" column="rstart"/>
		</association>
		
	</resultMap>
	
	<sql id="Quality_Column_List">
		eid, egid, euserid, eresult, edate
	</sql>
	
	<!-- 根据id查询质检记录 -->
	<select id="qualitySelect" parameterType="java.lang.Integer" resultMap="QualityResultMaps">
	  select 
	  *
	  from examine exa, sysuser sys, goods go
	  where exa.eid = #{eid,jdbcType=INTEGER}
	</select>
	
	<!-- 根据id删除质检记录 -->
	<delete id="qualityDelete" parameterType="java.lang.Integer">
	  delete from examine
	  where eid = #{eid,jdbcType=INTEGER}
	</delete>
	
	<!-- 添加质检记录 -->
	<insert id="qualityAdd" parameterType="com.ht.entity.Quality">
    insert into examine
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	<if test="eid != null">
	    		eid,
	    	</if>
	    	<if test="egid != null">
	    		egid,
	    	</if>
	    	<if test="euserid != null">
	    		euserid,
	    	</if>
	    	<if test="eresult != null">
	    		eresult,
	    	</if>
	    	<if test="edate != null">
	    		edate,
	    	</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	    	<if test="eid != null">
	    		#{eid,jdbcType=INTEGER},
	    	</if>
	    	<if test="egid != null">
	    		#{egid,jdbcType=INTEGER},
	    	</if>
	    	<if test="euserid != null">
	    		#{euserid,jdbcType=INTEGER},
	    	</if>
	    	<if test="eresult != null">
	    		#{eresult,jdbcType=VARCHAR},
	    	</if>
	    	<if test="edate != null">
	    		#{edate,jdbcType=TIMESTAMP},
	    	</if>
	    </trim>
	</insert>
	
	<!-- 根据id修改质检记录 -->
	<update id="qualityUpdate" parameterType="com.ht.entity.Quality">
	    update examine
	    <set>
	    	<if test="egid != null">
	    		egid = #{egid,jdbcType=INTEGER},
	    	</if>
	    	<if test="euserid != null">
	    		euserid = #{euserid,jdbcType=INTEGER},
	    	</if>
	    	<if test="eresult != null">
	    		eresult = #{eresult,jdbcType=VARCHAR},
	    	</if>
	    	<if test="edate != null">
	    		edate = #{edate,jdbcType=TIMESTAMP},
	    	</if>
	    </set>
	    where eid = #{eid,jdbcType=INTEGER}
	</update>
	
	<!-- 查询所有质检记录并分页 -->
	<select id="qualitySelectAll" parameterType="java.util.Map" resultMap="QualityResultMaps">
   		select * from examine exa, sysuser sys, goods go
		<where>
			exa.euserid = sys.USERID and 
			exa.egid = go.gid
			<if test="gordernumber!=null and gordernumber!='' ">
				and go.gordernumber like #{gordernumber}
			</if>
			<if test="USERTRUENAME!=null and USERTRUENAME!='' ">
				and sys.USERTRUENAME like #{USERTRUENAME}
			</if>
			<if test="eresult!=null and eresult!='' ">
				and exa.eresult like #{eresult}
			</if>
			<if test="edate!=null and edate!='' ">
				and exa.edate like #{edate}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
    </select>
    
    <!-- 查询质检记录条数 -->
 	<select id="getTotal" parameterType="java.util.Map" resultType="Long">
 		select count(*) from examine exa, sysuser sys, goods go
		<where>
			exa.euserid = sys.USERID and 
			exa.egid = go.gid
			<if test="gordernumber!=null and gordernumber!='' ">
				and go.gordernumber like #{gordernumber}
			</if>
			<if test="USERTRUENAME!=null and USERTRUENAME!='' ">
				and sys.USERTRUENAME like #{USERTRUENAME}
			</if>
			<if test="eresult!=null and eresult!='' ">
				and exa.eresult like #{eresult}
			</if>
			<if test="edate!=null and edate!='' ">
				and exa.edate like #{edate}
			</if>
		</where>
 	</select>
 	
 	<!-- <select id="receiptStatus" parameterType="java.lang.Integer" resultMap="QualityResultMaps">
 		select rec.sgid, rec.rstart from receipt rec where rec
 	</select> -->
</mapper>