<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.ReceiptMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Receipt">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="rcid" jdbcType="INTEGER" property="rcid" />
    <result column="rgid" jdbcType="INTEGER" property="rgid" />
    <result column="rreceivecount" jdbcType="INTEGER" property="rreceivecount" />
    <result column="rdamagedcount" jdbcType="INTEGER" property="rdamagedcount" />
    <result column="rshelvecount" jdbcType="INTEGER" property="rshelvecount" />
    <result column="rtdgoodstime" jdbcType="TIMESTAMP" property="rtdgoodstime" />
    <result column="rstart" jdbcType="INTEGER" property="rstart" />
  </resultMap>
  
  <resultMap id="AllResultMap" type="com.ht.entity.Receipt">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="rcid" jdbcType="INTEGER" property="rcid" />
    <result column="rgid" jdbcType="INTEGER" property="rgid" />
    <result column="rreceivecount" jdbcType="INTEGER" property="rreceivecount" />
    <result column="rdamagedcount" jdbcType="INTEGER" property="rdamagedcount" />
    <result column="rshelvecount" jdbcType="INTEGER" property="rshelvecount" />
    <result column="rtdgoodstime" jdbcType="TIMESTAMP" property="rtdgoodstime" />
    <result column="rstart" jdbcType="INTEGER" property="rstart" />
  	
  	<association property="customer" javaType="com.ht.entity.Customer">
	    <result property="cid" column="cid"/>
		<result property="cname" column="cname"/>
	</association>
	
	<association property="goods" javaType="com.ht.entity.Goods">
	    <result property="gid" column="gid"/>
		<result property="gname" column="gname"/>
		<result property="gcount" column="gcount"/>
		<result property="gordernumber" column="gordernumber"/>
		<result property="gstate" column="gstate"/>
	</association>
	
	<association property="user" javaType="com.ht.entity.sysuser">
	   <id column="USERID" jdbcType="INTEGER" property="userid" />
	   <result column="USERNAME" jdbcType="VARCHAR" property="username" />
	   <result column="USERTRUENAME" jdbcType="VARCHAR" property="usertruename" />
	</association>
  </resultMap>
  
  <sql id="Base_Column_List">
    rid, rcid, rgid, rreceivecount, rdamagedcount, rshelvecount, rtdgoodstime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from receipt
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  
  <!-- 删除收货单 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from receipt
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  
  <!-- 添加收货单 -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="rid" parameterType="com.ht.entity.Receipt">
    insert into receipt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="rcid != null">
        rcid,
      </if>
      <if test="rgid != null">
        rgid,
      </if>
      <if test="reid != null">
        reid,
      </if>
      <if test="rreceivecount != null">
        rreceivecount,
      </if>
      <if test="rdamagedcount != null">
        rdamagedcount,
      </if>
      <if test="rshelvecount != null">
        rshelvecount,
      </if>
      <if test="rtdgoodstime != null">
        rtdgoodstime,
      </if>
      <if test="rstart != null">
        rstart,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rcid != null">
        #{rcid,jdbcType=INTEGER},
      </if>
      <if test="rgid != null">
        #{rgid,jdbcType=INTEGER},
      </if>
      <if test="reid != null">
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="rreceivecount != null">
        #{rreceivecount,jdbcType=INTEGER},
      </if>
      <if test="rdamagedcount != null">
        #{rdamagedcount,jdbcType=INTEGER},
      </if>
      <if test="rshelvecount != null">
        #{rshelvecount,jdbcType=INTEGER},
      </if>
      <if test="rtdgoodstime != null">
        #{rtdgoodstime,jdbcType=TIMESTAMP},
      </if>
      <if test="rstart != null">
        #{rstart,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!--  修改收货单-->
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.entity.Receipt">
    update receipt
    <set>
      <if test="rcid != null">
        rcid = #{rcid,jdbcType=INTEGER},
      </if>
      <if test="rgid != null">
        rgid = #{rgid,jdbcType=INTEGER},
      </if>
      <if test="rreceivecount != null">
        rreceivecount = #{rreceivecount,jdbcType=INTEGER},
      </if>
      <if test="rdamagedcount != null">
        rdamagedcount = #{rdamagedcount,jdbcType=INTEGER},
      </if>
      <if test="rshelvecount != null">
        rshelvecount = #{rshelvecount,jdbcType=INTEGER},
      </if>
      <if test="rtdgoodstime != null">
        rtdgoodstime = #{rtdgoodstime,jdbcType=TIMESTAMP},
      </if>
       <if test="rstart != null">
        rstart = #{rstart,jdbcType=INTEGER},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  
  <!-- 分页查询所有收货单 -->
   <select id="queryAll" parameterType="java.util.Map" resultMap="AllResultMap">
   		select cu.cid,cu.cname,go.gid,go.gname,go.gcount,go.gordernumber,go.gstate,
   		re.rid,re.rreceivecount,re.rdamagedcount,re.rshelvecount,re.rstart,re.rcid,re.rgid,
		re.rtdgoodstime,sy.userid,sy.usertruename from receipt re,customer cu,goods go,sysuser sy
		<where>
			re.rcid=cu.cid and 
			re.rgid=go.gid and 
			re.reid=sy.userid
			<if test="cname!=null and cname!='' ">
				and cu.cname like #{cname}
			</if>
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="usertruename!=null and usertruename!='' ">
				and sy.usertruename like #{usertruename}
			</if>
			<if test="gordernumber!=null and gordernumber!='' ">
				and go.gordernumber like #{gordernumber}
			</if>
			<if test="rstart!=null and rstart!='' ">
				and re.rstart = #{rstart}
			</if>
		</where>
		order by re.rstart asc , re.rtdgoodstime asc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
   </select>
   
   <!-- 查询收货单条数 -->
 	<select id="queryAllCount" parameterType="java.util.Map" resultType="Long">
 		select count(*) from receipt re,customer cu,goods go,sysuser sy
		<where>
			re.rcid=cu.cid and 
			re.rgid=go.gid and 
			re.reid=sy.userid
			<if test="cname!=null and cname!='' ">
				and cu.cname like #{cname}
			</if>
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="usertruename!=null and usertruename!='' ">
				and sy.usertruename like #{usertruename}
			</if>
			<if test="gordernumber!=null and gordernumber!='' ">
				and go.gordernumber like #{gordernumber}
			</if>
			<if test="rstart!=null and rstart!='' ">
				and re.rstart = #{rstart}
			</if>
		</where>
 	</select>
</mapper>