<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.StorageMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Storage">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="srid" jdbcType="INTEGER" property="srid" />
    <result column="scid" jdbcType="INTEGER" property="scid" />
    <result column="sgid" jdbcType="INTEGER" property="sgid" />
    <result column="ssbid" jdbcType="INTEGER" property="ssbid" />
    <result column="storagecount" jdbcType="INTEGER" property="storagecount" />
    <result column="storagemode" jdbcType="VARCHAR" property="storagemode" />
    <result column="storagebarcode" jdbcType="VARCHAR" property="storagebarcode" />
    <result column="sbarcadeid" jdbcType="VARCHAR" property="sbarcadeid" />
    <result column="storagetime" jdbcType="TIMESTAMP" property="storagetime" />
  </resultMap>
  
  <resultMap id="AllResultMap" type="com.ht.entity.Storage">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="srid" jdbcType="INTEGER" property="srid" />
    <result column="scid" jdbcType="INTEGER" property="scid" />
    <result column="sgid" jdbcType="INTEGER" property="sgid" />
    <result column="ssbid" jdbcType="INTEGER" property="ssbid" />
    <result column="storagecount" jdbcType="INTEGER" property="storagecount" />
    <result column="storagemode" jdbcType="VARCHAR" property="storagemode" />
    <result column="storagebarcode" jdbcType="VARCHAR" property="storagebarcode" />
    <result column="sbarcadeid" jdbcType="VARCHAR" property="sbarcadeid" />
    <result column="storagetime" jdbcType="TIMESTAMP" property="storagetime" />
  	
  	<association property="customer" javaType="com.ht.entity.Customer">
	    <result property="cid" column="cid"/>
		<result property="cname" column="cname"/>
	</association>
	
	<association property="goods" javaType="com.ht.entity.Goods">
	    <result property="gid" column="gid"/>
		<result property="gname" column="gname"/>
	</association>
	
	<association property="inventory" javaType="com.ht.entity.Inventory">
	    <result property="loid" column="loid"/>
		<result property="loname" column="loname"/>
	</association>
	
	<association property="user" javaType="com.ht.entity.sysuser">
	   <id column="USERID" jdbcType="INTEGER" property="userid" />
	   <result column="USERNAME" jdbcType="VARCHAR" property="username" />
	   <result column="USERTRUENAME" jdbcType="VARCHAR" property="usertruename" />
	</association>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    sid, srid, scid, sgid, ssbid, storagecount, storagemode, storagebarcode, sbarcadeid, 
    storagetime
  </sql>
  <!-- 根据id查询入库信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from storage
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  
  <!-- 根据id删除入库信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from storage
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
	<!-- 添加入库信息 -->
  <insert id="insertSelective" parameterType="com.ht.entity.Storage">
    insert into storage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="srid != null">
        srid,
      </if>
      <if test="scid != null">
        scid,
      </if>
      <if test="sgid != null">
        sgid,
      </if>
      <if test="ssbid != null">
        ssbid,
      </if>
      <if test="seid != null">
        seid,
      </if>
      <if test="storagecount != null">
        storagecount,
      </if>
      <if test="storagemode != null">
        storagemode,
      </if>
      <if test="storagebarcode != null">
        storagebarcode,
      </if>
      <if test="sbarcadeid != null">
        sbarcadeid,
      </if>
      <if test="storagetime != null">
        storagetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="srid != null">
        #{srid,jdbcType=INTEGER},
      </if>
      <if test="scid != null">
        #{scid,jdbcType=INTEGER},
      </if>
      <if test="sgid != null">
        #{sgid,jdbcType=INTEGER},
      </if>
      <if test="ssbid != null">
        #{ssbid,jdbcType=INTEGER},
      </if>
      <if test="seid != null">
        #{seid,jdbcType=INTEGER},
      </if>
      <if test="storagecount != null">
        #{storagecount,jdbcType=INTEGER},
      </if>
      <if test="storagemode != null">
        #{storagemode,jdbcType=VARCHAR},
      </if>
      <if test="storagebarcode != null">
        #{storagebarcode,jdbcType=VARCHAR},
      </if>
      <if test="sbarcadeid != null">
        #{sbarcadeid,jdbcType=VARCHAR},
      </if>
      <if test="storagetime != null">
        #{storagetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 根据id修改入库信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.entity.Storage">
    update storage
    <set>
      <if test="srid != null">
        srid = #{srid,jdbcType=INTEGER},
      </if>
      <if test="scid != null">
        scid = #{scid,jdbcType=INTEGER},
      </if>
      <if test="sgid != null">
        sgid = #{sgid,jdbcType=INTEGER},
      </if>
      <if test="ssbid != null">
        ssbid = #{ssbid,jdbcType=INTEGER},
      </if>
      <if test="storagecount != null">
        storagecount = #{storagecount,jdbcType=INTEGER},
      </if>
      <if test="storagemode != null">
        storagemode = #{storagemode,jdbcType=VARCHAR},
      </if>
      <if test="storagebarcode != null">
        storagebarcode = #{storagebarcode,jdbcType=VARCHAR},
      </if>
      <if test="sbarcadeid != null">
        sbarcadeid = #{sbarcadeid,jdbcType=VARCHAR},
      </if>
      <if test="storagetime != null">
        storagetime = #{storagetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
 
 <!-- 查询所有入库列表 -->
 <select id="queryAll" parameterType="java.util.Map" resultMap="AllResultMap">
 	select cu.cid,cu.cname,go.gid,go.gname,i.loid,i.loname,st.sid,st.storagecount,st.storagemode,st.storagebarcode,
	st.sbarcadeid,st.storagetime,sy.userid,sy.usertruename from storage st,customer cu,goods go,inventory i,sysuser sy
		<where>
			st.scid=cu.cid and 
			st.sgid=go.gid and 
			st.ssbid=i.loid and 
			st.seid=sy.userid
			<if test="cname!=null and cname!='' ">
				and cu.cname like #{cname}
			</if>
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="loname!=null and loname!='' ">
				and i.loname like #{loname}
			</if>
			<if test="usertruename!=null and usertruename!='' ">
				and sy.usertruename like #{usertruename}
			</if>
			<if test="storagemode!=null and storagemode!='' ">
				and storagemode like #{storagemode}
			</if>
			<if test="sbarcadeid!=null and sbarcadeid!='' ">
				and sbarcadeid like #{sbarcadeid}
			</if>
		</where>
		order by st.storagetime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
 </select>
 
 <!-- 查询入库条数 -->
 <select id="queryAllCount" parameterType="java.util.Map" resultType="Long">
 	select count(*) from storage st,customer cu,goods go,inventory i,sysuser sy
		<where>
			st.scid=cu.cid and 
			st.sgid=go.gid and 
			st.ssbid=i.loid and 
			st.seid=sy.userid
			<if test="cname!=null and cname!='' ">
				and cu.cname like #{cname}
			</if>
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="loname!=null and loname!='' ">
				and i.loname like #{loname}
			</if>
			<if test="usertruename!=null and usertruename!='' ">
				and sy.usertruename like #{usertruename}
			</if>
			<if test="storagemode!=null and storagemode!='' ">
				and storagemode like #{storagemode}
			</if>
			<if test="sbarcadeid!=null and sbarcadeid!='' ">
				and sbarcadeid like #{sbarcadeid}
			</if>
		</where>
 </select>
 
 
</mapper>