<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.ThelibraryMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Thelibrary">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tgid" jdbcType="INTEGER" property="tgid" />
    <result column="ttid" jdbcType="INTEGER" property="ttid" />
    <result column="tcount" jdbcType="INTEGER" property="tcount" />
    <result column="ttype" jdbcType="VARCHAR" property="ttype" />
    <result column="tstate" jdbcType="VARCHAR" property="tstate" />
     <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="ttime" jdbcType="TIMESTAMP" property="ttime" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.ht.entity.Thelibrary">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tgid" jdbcType="INTEGER" property="tgid" />
    <result column="ttid" jdbcType="INTEGER" property="ttid" />
    <result column="tcount" jdbcType="INTEGER" property="tcount" />
    <result column="ttype" jdbcType="VARCHAR" property="ttype" />
     <result column="tstate" jdbcType="VARCHAR" property="tstate" />
     <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="ttime" jdbcType="TIMESTAMP" property="ttime" />
  
   <association property="goods" javaType="com.ht.entity.Goods">
	    <result property="gid" column="gid"/>
		<result property="gname" column="gname"/>
		<result column="gordernumber" jdbcType="VARCHAR" property="gordernumber" />
	    <result column="gcount" jdbcType="INTEGER" property="gcount" />
	    <result column="gunit" jdbcType="VARCHAR" property="gunit" />
	    <result column="gweight" jdbcType="REAL" property="gweight" />
	    <result column="gvolume" jdbcType="REAL" property="gvolume" />
	    <result column="gsize" jdbcType="REAL" property="gsize" />
	    <result column="ggrade" jdbcType="INTEGER" property="ggrade" />
	    <result column="gdescribe" jdbcType="VARCHAR" property="gdescribe" />
	    <result column="gconsignee" jdbcType="VARCHAR" property="gconsignee" />
	    <result column="greaddress" jdbcType="VARCHAR" property="greaddress" />
	    <result column="grephone" jdbcType="VARCHAR" property="grephone" />
	    <result column="gorigin" jdbcType="VARCHAR" property="gorigin" />
	    <result column="gendpoint" jdbcType="VARCHAR" property="gendpoint" />
	    <result column="gstate" jdbcType="VARCHAR" property="gstate" />
	    <result column="gorderstime" jdbcType="TIMESTAMP" property="gorderstime" />
  </association>
  
   <association property="transport" javaType="com.ht.entity.Transport">
	    <result property="trid" column="trid"/>
		<result property="tdrivername" column="tdrivername"/>
		<result property="tdriverphone" column="tdriverphone"/>
		<result property="tvehicletype" column="tvehicletype"/>
		<result property="tvehiclecapacity" column="tvehiclecapacity"/>
  </association>
  
     <association property="customer" javaType="com.ht.entity.Customer">
		<id column="cid" jdbcType="INTEGER" property="cid" />
	    <result column="cname" jdbcType="VARCHAR" property="cname" />
	    <result column="ccompany" jdbcType="VARCHAR" property="ccompany" />
  	</association>
  	
  	  <association property="receipt" javaType="com.ht.entity.Receipt">
		<id column="rid" jdbcType="INTEGER" property="rid" />
	    <result column="rreceivecount" jdbcType="VARCHAR" property="rreceivecount" />
	    <result column="rdamagedcount" jdbcType="VARCHAR" property="rdamagedcount" />
	    <result column="rshelvecount" jdbcType="INTEGER" property="rshelvecount" />
	    <result column="rtdgoodstime" jdbcType="VARCHAR" property="rtdgoodstime" />
  	</association>
  	
  	
  	  	
  	  <association property="storage" javaType="com.ht.entity.Storage">
		<id column="sid" jdbcType="INTEGER" property="sid" />
	    <result column="storagecount" jdbcType="VARCHAR" property="storagecount" />
	    <result column="storagemode" jdbcType="VARCHAR" property="storagemode" />
	    <result column="storagetime" jdbcType="TIMESTAMP" property="storagetime" />
  	</association>
  	
  	  <association property="inventory" javaType="com.ht.entity.Inventory">
		<id column="loid" jdbcType="INTEGER" property="loid" />
	    <result column="loname" jdbcType="VARCHAR" property="loname" />
	    <result column="losize" jdbcType="INTEGER" property="losize" />
	    <result column="lolevel" jdbcType="INTEGER" property="lolevel" />
  	</association>

  </resultMap>
  
  <sql id="Base_Column_List">
    tid, tgid, ttid, tcount,tstate, ttype, remarks, ttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thelibrary
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from thelibrary
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.entity.Thelibrary">
    insert into thelibrary (tid, tgid, 
      ttid, tcount,tstate,remarks,ttype, 
      ttime)
    values (#{tid,jdbcType=INTEGER}, #{tgid,jdbcType=INTEGER}, 
      #{ttid,jdbcType=INTEGER}, #{tcount,jdbcType=INTEGER},#{tstate,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR},#{ttype,jdbcType=VARCHAR},  
    #{ttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.entity.Thelibrary">
    insert into thelibrary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="tgid != null">
        tgid,
      </if>
      <if test="ttid != null">
        ttid,
      </if>
      <if test="tcount != null">
        tcount,
      </if>
      <if test="ttype != null">
        ttype,
      </if>
       <if test="tstate != null">
        sstate,
      </if>
        <if test="remarks != null">
        remarks,
      </if>
      <if test="ttime != null">
        ttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tgid != null">
        #{tgid,jdbcType=INTEGER},
      </if>
      <if test="ttid != null">
        #{ttid,jdbcType=INTEGER},
      </if>
      <if test="tcount != null">
        #{tcount,jdbcType=INTEGER},
      </if>
      <if test="ttype != null">
        #{ttype,jdbcType=VARCHAR},
      </if>
       <if test="tstate != null">
        #{tstate,jdbcType=VARCHAR},
      </if>
        <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ttime != null">
        #{ttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.entity.Thelibrary">
    update thelibrary
    <set>
      <if test="tgid != null">
        tloid = #{tgid,jdbcType=INTEGER},
      </if>
      <if test="ttid != null">
        ttid = #{ttid,jdbcType=INTEGER},
      </if>
      <if test="tcount != null">
        tcount = #{tcount,jdbcType=INTEGER},
      </if>
      <if test="ttype != null">
        ttype = #{ttype,jdbcType=VARCHAR},
      </if>
       <if test="tstate != null">
        tstate = #{tstate,jdbcType=VARCHAR},
      </if>
       <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ttime != null">
        ttime = #{ttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.entity.Thelibrary">
    update thelibrary
    set 
      tgid = #{tgid,jdbcType=INTEGER},
      ttid = #{ttid,jdbcType=INTEGER},
      tcount = #{tcount,jdbcType=INTEGER},
      ttype = #{ttype,jdbcType=VARCHAR},
      tstate = #{tstate,jdbcType=VARCHAR},
      ttype = #{ttype,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=TIMESTAMP}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  
  
  <!-- 查询所有出库列表 -->
 <select id="queryAll" parameterType="java.util.Map" resultMap="BaseResultMap1">
 	select go.gid,go.gname,t.trid,t.tdrivername, th.tid, th.tgid, th.ttid, th.tcount,th.tstate, th.ttype, th.remarks, th.ttime from goods go,transport t ,thelibrary th 
		<where>
			th.tgid=go.gid
			and th.ttid=t.trid
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="tdrivername!=null and tdrivername!='' ">
				and t.tdrivername like #{tdrivername}
			</if>
			<if test="ttype!=null and ttype!='' ">
				and ttype like #{ttype}
			</if>
		 and tstate = 1
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
 </select>
 
 
  <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
 select go.gid,go.gname,go.gordernumber,go.ggrade,go.gconsignee,go.greaddress,go.grephone,go.gdescribe,
 	go.gorigin,go.gendpoint,go.gorderstime,t.trid,t.tdrivername,t.tdriverphone,t.tvehicleid,t.tvehicletype,t.tvehiclecapacity,
 	th.tid, th.tgid, th.ttid, th.tcount,th.tstate, th.ttype, th.remarks, th.ttime,re.rid,re.rreceivecount,re.rdamagedcount,re.rshelvecount,re.rtdgoodstime,
 	c.cid,c.cname,c.ccompany,st.sid,st.storagecount,st.storagemode,st.storagetime,st.ssbid,inv.loid,inv.logid,inv.loname,inv.losize,inv.lolevel 
 	 from goods go,transport t ,thelibrary th ,customer c,receipt re,storage st,inventory inv
 	 where 	th.tgid=go.gid
			and th.ttid=t.trid and st.ssbid = inv.loid and tid = #{tid,jdbcType=INTEGER}
 </select>
 
 
  <select id="queryAll2" parameterType="java.util.Map" resultMap="BaseResultMap1">
 	select go.gid,go.gname,t.trid,t.tdrivername, th.tid, th.tgid, th.ttid, th.tcount,th.tstate, th.ttype, th.remarks, th.ttime from goods go,transport t ,thelibrary th 
		<where>
			th.tgid=go.gid
			and th.ttid=t.trid
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="tdrivername!=null and tdrivername!='' ">
				and t.tdrivername like #{tdrivername}
			</if>
			<if test="ttype!=null and ttype!='' ">
				and ttype like #{ttype}
			</if>
		 and tstate != 1 
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
 </select>
 
 <!-- 查询入库条数 -->
 <select id="queryAllCount" parameterType="java.util.Map" resultType="Long">
 	select count(*) from thelibrary th,goods go,transport t
		<where>
			th.tgid=go.gid and 
			th.ttid=t.trid
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="tdrivername!=null and tdrivername!='' ">
				and t.tdrivername like #{tdrivername}
			</if>
			<if test="ttype!=null and ttype!='' ">
				and ttype like #{ttype}
			</if>	
		 	and tstate = 1
			<if test="tstate!=null and tstate!='' ">
				and tstate like #{tstate}
			</if>	
		</where>
 </select>
 
 <!-- 查询入库条数 -->
 <select id="queryAllCount2" parameterType="java.util.Map" resultType="Long">
 	select count(*) from thelibrary th,goods go,transport t
		<where>
			th.tgid=go.gid and 
			th.ttid=t.trid
			<if test="gname!=null and gname!='' ">
				and go.gname like #{gname}
			</if>
			<if test="tdrivername!=null and tdrivername!='' ">
				and t.tdrivername like #{tdrivername}
			</if>
			<if test="ttype!=null and ttype!='' ">
				and ttype like #{ttype}
			</if>	
		 	and tstate !=1
			<if test="tstate!=null and tstate!='' ">
				and tstate like #{tstate}
			</if>	
		</where>
 </select>
</mapper>