<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.TransportMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Transport">
    <id column="trid" jdbcType="INTEGER" property="trid" />
    <result column="tdrivername" jdbcType="VARCHAR" property="tdrivername" />
    <result column="tdriverphone" jdbcType="VARCHAR" property="tdriverphone" />
    <result column="tvehicleid" jdbcType="VARCHAR" property="tvehicleid" />
    <result column="tvehicletype" jdbcType="VARCHAR" property="tvehicletype" />
    <result column="tvehiclecapacity" jdbcType="INTEGER" property="tvehiclecapacity" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
  </resultMap>
  <sql id="Base_Column_List">
    trid, tdrivername, tdriverphone, tvehicleid, tvehicletype, tvehiclecapacity,idcard
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transport
    where trid = #{trid,jdbcType=INTEGER}
  </select>
  <delete id="transportdelete" parameterType="java.lang.Integer">
    delete from transport
    where trid = #{trid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.entity.Transport">
    insert into transport (trid, tdrivername, tdriverphone, 
      tvehicleid, tvehicletype, tvehiclecapacity,idcard
      )
    values (#{trid,jdbcType=INTEGER}, #{tdrivername,jdbcType=VARCHAR}, #{tdriverphone,jdbcType=VARCHAR}, 
      #{tvehicleid,jdbcType=INTEGER}, #{tvehicletype,jdbcType=VARCHAR}, #{tvehiclecapacity,jdbcType=INTEGER},#{idcard,jdbcType=INTEGER}
      )
  </insert>
  <insert id="treansportAdd" parameterType="com.ht.entity.Transport">
    insert into transport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trid != null">
        trid,
      </if>
      <if test="tdrivername != null">
        tdrivername,
      </if>
      <if test="tdriverphone != null">
        tdriverphone,
      </if>
      <if test="tvehicleid != null">
        tvehicleid,
      </if>
      <if test="tvehicletype != null">
        tvehicletype,
      </if>
      <if test="tvehiclecapacity != null">
        tvehiclecapacity,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trid != null">
        #{trid,jdbcType=INTEGER},
      </if>
      <if test="tdrivername != null">
        #{tdrivername,jdbcType=VARCHAR},
      </if>
      <if test="tdriverphone != null">
        #{tdriverphone,jdbcType=VARCHAR},
      </if>
      <if test="tvehicleid != null">
        #{tvehicleid,jdbcType=INTEGER},
      </if>
      <if test="tvehicletype != null">
        #{tvehicletype,jdbcType=VARCHAR},
      </if>
      <if test="tvehiclecapacity != null">
        #{tvehiclecapacity,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="treansportupdate" parameterType="com.ht.entity.Transport">
    update transport
    <set>
      <if test="tdrivername != null">
        tdrivername = #{tdrivername,jdbcType=VARCHAR},
      </if>
      <if test="tdriverphone != null">
        tdriverphone = #{tdriverphone,jdbcType=VARCHAR},
      </if>
      <if test="tvehicleid != null">
        tvehicleid = #{tvehicleid,jdbcType=INTEGER},
      </if>
      <if test="tvehicletype != null">
        tvehicletype = #{tvehicletype,jdbcType=VARCHAR},
      </if>
      <if test="tvehiclecapacity != null">
        tvehiclecapacity = #{tvehiclecapacity,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
    </set>
    where trid = #{trid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.entity.Transport">
    update transport
    set tdrivername = #{tdrivername,jdbcType=VARCHAR},
      tdriverphone = #{tdriverphone,jdbcType=VARCHAR},
      tvehicleid = #{tvehicleid,jdbcType=INTEGER},
      tvehicletype = #{tvehicletype,jdbcType=VARCHAR},
      tvehiclecapacity = #{tvehiclecapacity,jdbcType=INTEGER}
    where trid = #{trid,jdbcType=INTEGER}
  </update>
  
   <!-- 查询所有承运车辆列表 -->
  <select id="select" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
     <include refid="Base_Column_List" />
   	 from Transport
    <where>
    	<if test="tdrivername!=null and tdrivername!='' ">
			tdrivername like #{tdrivername}
		</if>
		<if test="tdriverphone!=null and tdriverphone!='' ">
			and tdriverphone like #{tdriverphone}
		</if>
		<if test="tvehicleid!=null and tvehicleid!='' ">
			and tvehicleid like #{tvehicleid}
		</if>
		<if test="tvehicletype!=null and tvehicletype!='' ">
			and tvehicletype like #{tvehicletype}
		</if>
		<if test="tvehiclecapacity!=null and tvehiclecapacity!='' ">
			and tvehiclecapacity like #{tvehiclecapacity}
		</if>
		<if test="idcard!=null and idcard!='' ">
			and idcard like #{idcard}
		</if>
    </where>
  	 order by trid desc
  	 <if test="start!=null and size!=null">
		limit #{start},#{size}
	</if>
  </select>
  
  <!-- 查询承运车辆数 -->
 <select id="queryAllCount" parameterType="java.util.Map" resultType="Long">
 	select count(*) from Transport
		<where>
			<if test="tdrivername!=null and tdrivername!='' ">
			tdrivername like #{tdrivername}
		</if>
		<if test="tdriverphone!=null and tdriverphone!='' ">
			and tdriverphone like #{tdriverphone}
		</if>
		<if test="tvehicleid!=null and tvehicleid!='' ">
			and tvehicleid like #{tvehicleid}
		</if>
		<if test="tvehicletype!=null and tvehicletype!='' ">
			and tvehicletype like #{tvehicletype}
		</if>
		<if test="tvehiclecapacity!=null and tvehiclecapacity!='' ">
			and tvehiclecapacity like #{tvehiclecapacity}
		</if>
		<if test="idcard!=null and idcard!='' ">
			and idcard like #{idcard}
		</if>
		</where>
 </select>
</mapper>