<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.TestMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Test">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="tsex" jdbcType="VARCHAR" property="tsex" />
    <result column="tmes" jdbcType="INTEGER" property="tmes" />
  </resultMap>
  
  <sql id="Base_Column_List">
    tid, tname, tsex, tmes
  </sql>
  
  <select id="testSelect" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  
  <!-- 查询所有 -->
  <select id = "testSelectAll" resultMap = "BaseResultMap" parameterType="Map">
  	SELECT * from test
  	<if test="start!=null and size!=null">
            limit #{start},#{size}
	</if>
  </select>
  
  <select id="getTotal" resultType="Long" parameterType="Map">
  	select count(*) from test
  </select>
  
  <delete id="testdelete" parameterType="java.lang.Integer">
    delete from test
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  
  <insert id="testAdd" parameterType="com.ht.entity.Test">
    insert into test(tid, tname, tsex,tmes)
    values (null, #{tname,jdbcType=VARCHAR}, #{tsex,jdbcType=VARCHAR}, 
      #{tmes,jdbcType=VARCHAR})
  </insert>
  
  
 <!--  <insert id="insertSelective" parameterType="com.ht.entity.Test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="tsex != null">
        tsex,
      </if>
      <if test="tmes != null">
        tmes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tsex != null">
        #{tsex,jdbcType=VARCHAR},
      </if>
      <if test="tmes != null">
        #{tmes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert> -->
  
  <update id="testupdate" parameterType="com.ht.entity.Test">
    update test 
    <set>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tsex != null">
        tsex = #{tsex,jdbcType=VARCHAR},
      </if>
      <if test="tmes != null">
        tmes = #{tmes,jdbcType=INTEGER},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  
  
  <!-- <update id="updateByPrimaryKey" parameterType="com.ht.entity.Sysfunction">
    update tset
    set tname = #{tname,jdbcType=VARCHAR},
      tsex = #{tsex,jdbcType=VARCHAR},
      tmes = #{tmes,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=INTEGER}
  </update> -->
  
</mapper>