<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.TestMapper">
  <resultMap id="BaseResultMap" type="com.ht.entity.Test">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="tsex" jdbcType="VARCHAR" property="tsex" />
    <result column="tmes" jdbcType="VARCHAR" property="tmes" />
    <result column="tdate" jdbcType="TIMESTAMP" property="tdate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    tid, tname, tsex, tmes, tdate
  </sql>
  
	<select id="testSelect" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />	from test
		where tid = #{tid,jdbcType=INTEGER}
	</select>
  
  <!-- 查询所有 -->
	<select id = "testSelectAll" resultMap = "BaseResultMap" parameterType="Map">
		SELECT * from test
		<where>
		<if test="tid != null and tid != ''">
			and tid like #{tid,jdbcType=INTEGER},
		</if>
		<if test="tname != null and tname != ''">
			and tname like #{tname,jdbcType=VARCHAR},
		</if>
		<if test="tsex != null and tsex != ''">
			and tsex like #{tsex,jdbcType=VARCHAR},
		</if>
		<if test="tmes != null and tmes != ''">
			and tmes like #{tmes,jdbcType=VARCHAR},
		</if>
		<if test="tdate != null and tdate != ''">
			and tdate like #{tdate,jdbcType=TIMESTAMP},
		</if>
		<if test="lostate!=null and lostate!='' ">
			and lo.lostate like #{lostate}
		</if>
		</where>
 		order by tid desc
 		<if test="start!=null and size!=null">
		limit #{start},#{size}
		</if>
	</select>
  
	<select id="getTotal" resultType="Long" parameterType="Map">
		select count(*) from test
	</select>
  
	<delete id="testdelete" parameterType="java.lang.Integer">
		delete from test
		where tid = #{tid,jdbcType=INTEGER}
	</delete>
  
<!--   <insert id="testAdd" parameterType="com.ht.entity.Test">
    insert into test(tid, tname, tsex,tmes)
    values (null, #{tname,jdbcType=VARCHAR}, #{tsex,jdbcType=VARCHAR}, 
      #{tmes,jdbcType=VARCHAR},#{tdate,jdbcType=TIMESTAMP})
  </insert> -->
  
  
	<insert id="testAdd" parameterType="com.ht.entity.Test">
		insert into test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tid != null and tid != ''">
			  tid,
			</if>
			<if test="tname != null and tname != ''">
			  tname,
			</if>
			<if test="tsex != null and tsex != ''">
			  tsex,
			</if>
			<if test="tmes != null and tmes != ''">
			  tmes,
			</if>
			<if test="tdate != null and tdate != ''">
			  tdate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tid != null and tid != ''">
			  #{tid,jdbcType=INTEGER},
			</if>
			<if test="tname != null and tname != ''">
			  #{tname,jdbcType=VARCHAR},
			</if>
			<if test="tsex != null and tsex != ''">
			  #{tsex,jdbcType=VARCHAR},
			</if>
			<if test="tmes != null and tmes != ''">
			  #{tmes,jdbcType=VARCHAR},
			</if>
			<if test="tdate != null and tdate != ''">
			  #{tdate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
  
	<update id="testupdate" parameterType="com.ht.entity.Test">
		update test 
		<set>
			<if test="tname != null and tname != ''">
			  tname = #{tname,jdbcType=VARCHAR},
			</if>
			<if test="tsex != null and tsex != ''">
			  tsex = #{tsex,jdbcType=VARCHAR},
			</if>
			<if test="tmes != null and tmes != ''">
			  tmes = #{tmes,jdbcType=VARCHAR},
			</if>
			<if test="tdate != null and tdate != ''">
			  tdate = #{tdate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where tid = #{tid,jdbcType=INTEGER}
	</update>
  
  
  <!-- <update id="updateByPrimaryKey" parameterType="com.ht.entity.Sysfunction">
    update tset
    set tname = #{tname,jdbcType=VARCHAR},
      tsex = #{tsex,jdbcType=VARCHAR},
      tmes = #{tmes,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=INTEGER}
  </update> -->
  
</mapper>