<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 静态资源处理 -->
	<mvc:default-servlet-handler />
	
	<context:component-scan base-package="com.ht.controller">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
	<!-- 上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="resolveLazily" value="true" />
    	<property name="maxUploadSize" value="999999999" />
    	<property name="defaultEncoding" value="utf-8" />
    </bean>
    
    <mvc:interceptors>
    	
    	
    	<mvc:interceptor>
    		<mvc:mapping path="/*/*"/>
    		<mvc:exclude-mapping path="/user/login"/>
    		<mvc:exclude-mapping path="/customer/login"/>
    		<mvc:exclude-mapping path="/customer/index"/>
    		<mvc:exclude-mapping path="/customer/info"/>
    		<mvc:exclude-mapping path="/customer/management"/>
    		<mvc:exclude-mapping path="/customer/network"/>
    		<mvc:exclude-mapping path="/customer/flow"/>
    		<mvc:exclude-mapping path="/customer/message"/>
    		<mvc:exclude-mapping path="/customer/warehouse"/>
    		<mvc:exclude-mapping path="/customer/klogout"/>
    		<mvc:exclude-mapping path="/front/list"/>
    		<mvc:exclude-mapping path="/customer/customerLogin"/>
    		<mvc:exclude-mapping path="/customer/zc"/>
    		<mvc:exclude-mapping path="/customer/save"/>
    		<mvc:exclude-mapping path="/customer/save2"/>
    		<mvc:exclude-mapping path="/customer/update"/>
  			<mvc:exclude-mapping path="/customer/personal"/>
    		<mvc:exclude-mapping path="/yzm/code"/>
    		<mvc:exclude-mapping path="/goods/myGoods"/>
    		<mvc:exclude-mapping path="/goods/add"/>
    		<mvc:exclude-mapping path="/image/*.jpg"/>
    		<mvc:exclude-mapping path="/image/*.gif"/>
    		<mvc:exclude-mapping path="/image/*.swf"/>
    		<mvc:exclude-mapping path="/assets/css/*.css"/>
    		<mvc:exclude-mapping path="/style/*.css"/>
    		<mvc:exclude-mapping path="/css/*.css"/>
    		<mvc:exclude-mapping path="/js/*.js"/>
    		<mvc:exclude-mapping path="/customer/revise"/>
    		<mvc:exclude-mapping path="/customer/updatePwd"/>
    		<mvc:exclude-mapping path="/warehouse/css/index.css"/>
    		<bean class="com.ht.interceptors.BackInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>
    
    <!-- 返回json -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    
</beans>
